In [1]:
output = """[[CREATE TABLE top_posts ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, user_id INT, title TEXT NOT NULL, body TEXT NOT NULL, created_at)   -> schema.rename_column "things", "age"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.id  "user_id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"    -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create"""
label = """, schema.types.integer "ALTER TABLE things ADD COLUMN age INT NOT NULL"   -> schema.add_column "things", "cat", schema.types.integer "ALTER TABLE things ADD COLUMN cat INT NOT NULL"   -> schema.add_column "things", "paw", schema.types.integer "ALTER TABLE things ADD COLUMN paw INT NOT NULL"   -> schema.add_column "things", "price", schema.types.integer "ALTER TABLE things ADD COLUMN price INT NOT NULL"   -> schema.add_column "things", "tags", schema.types.text "ALTER TABLE things ADD COLUMN tags TEXT NOT NULL"   -> schema.add_column "things", "user_id", schema.types.integer "ALTER TABLE things ADD COLUMN user_id INT NOT NULL"   -> schema.add_column "things", "user_name", schema.types.text "ALTER TABLE things ADD COLUMN user_name TEXT NOT NULL"   -> schema.add_column "things", "user_type", schema.types.text "ALTER TABLE things ADD COLUMN user_type TEXT NOT NULL"   -> schema.add_column "things", "user_url", schema.types.text "ALTER TABLE things ADD COLUMN user_url TEXT NOT NULL"   -> schema.add_column "things", "user_url_name", schema.types"""

In [2]:
print(output)

[[CREATE TABLE top_posts ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, user_id INT, title TEXT NOT NULL, body TEXT NOT NULL, created_at)   -> schema.rename_column "things", "age"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.id  "user_id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"   -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create_table "top_posts",   "id", schema.types.integer "ALTER TABLE items CHANGE COLUMN cat paw INT NOT NULL"    -> schema.rename_table "goods", "sweets" "RENAME TABLE goods TO sweets"   name: "schema.create_table" -> schema.create

In [4]:
print(label)

, schema.types.integer "ALTER TABLE things ADD COLUMN age INT NOT NULL"   -> schema.add_column "things", "cat", schema.types.integer "ALTER TABLE things ADD COLUMN cat INT NOT NULL"   -> schema.add_column "things", "paw", schema.types.integer "ALTER TABLE things ADD COLUMN paw INT NOT NULL"   -> schema.add_column "things", "price", schema.types.integer "ALTER TABLE things ADD COLUMN price INT NOT NULL"   -> schema.add_column "things", "tags", schema.types.text "ALTER TABLE things ADD COLUMN tags TEXT NOT NULL"   -> schema.add_column "things", "user_id", schema.types.integer "ALTER TABLE things ADD COLUMN user_id INT NOT NULL"   -> schema.add_column "things", "user_name", schema.types.text "ALTER TABLE things ADD COLUMN user_name TEXT NOT NULL"   -> schema.add_column "things", "user_type", schema.types.text "ALTER TABLE things ADD COLUMN user_type TEXT NOT NULL"   -> schema.add_column "things", "user_url", schema.types.text "ALTER TABLE things ADD COLUMN user_url TEXT NOT NULL"   -> schema.add_column "things", "user_url_name", schema.types

In [5]:
from datasets import load_dataset
datasets = load_dataset("jitx/distillation_code_100", split="train")

In [6]:
datasets.filter(lambda example: 'schema.types.integer' in example[''])

Dataset({
    features: ['santacoder_prompts', 'fim_inputs', 'label_middles', 'santacoder_outputs', 'openai_rationales'],
    num_rows: 100
})

In [8]:
d1 = datasets.filter(lambda example: 'schema.types.integer' in example['santacoder_outputs'])

In [10]:
d1[0]

{'santacoder_prompts': 'n `items`;"\n  }\n\n  {\n    -> schema.add_column "things", "age"<FILL-HERE>ABLE `items` DROP COLUMN `cat`"\n  }\n\n  {\n    -> schema.rename_column "items", "cat", "paw", schema.types.integer\n    "ALTER TABLE `items` CHANGE COLUMN `cat` `paw` INT NOT NULL"\n  }\n\n  {\n    -> schema.rename_table "goods", "sweets"\n    "RENAME TABLE `goods` TO `sweets`"\n  }\n\n  {\n    name: "schema.create_table"\n\n    ->\n      schema.create_table "top_posts", {\n        {"id", schema.types.id}\n        {"user_id", schema.types.integer null: true}\n        {"title", schema.types.text null: false}\n        {"body", schema.types.text null: false}\n        {"created_at", schema.types.datetime}\n        {"updated_at", schema.types.datetime}\n      }\n\n    [[CREATE TABLE `top_posts` (\n  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,\n  `user_id` INT,\n  `title` TEXT NOT NULL,\n  `body` TEXT NOT NULL,\n  `created_at` DATE',
 'fim_inputs': '<fim-prefix>n `items`;"\n  }\n\n  {\n    -> schema.add_column "things", "age"<fim-suffix>ABLE `items` DROP COLUMN `cat`"\n  }\n\n  {\n    -> schema.rename_column "items", "cat", "paw", schema.types.integer\n    "ALTER TABLE `items` CHANGE COLUMN `cat` `paw` INT NOT NULL"\n  }\n\n  {\n    -> schema.rename_table "goods", "sweets"\n    "RENAME TABLE `goods` TO `sweets`"\n  }\n\n  {\n    name: "schema.create_table"\n\n    ->\n      schema.create_table "top_posts", {\n        {"id", schema.types.id}\n        {"user_id", schema.types.integer null: true}\n        {"title", schema.types.text null: false}\n        {"body", schema.types.text null: false}\n        {"created_at", schema.types.datetime}\n        {"updated_at", schema.types.datetime}\n      }\n\n    [[CREATE TABLE `top_posts` (\n  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,\n  `user_id` INT,\n  `title` TEXT NOT NULL,\n  `body` TEXT NOT NULL,\n  `created_at` DATE<fim-middle>, schema.types.varchar 22\n    "ALTER TABLE `things` ADD COLUMN `age` VARCHAR(22) NOT NULL"\n  }\n\n  {\n    -> schema.drop_column "items", "cat"\n    "ALTER T',
 'label_middles': ', schema.types.varchar 22\n    "ALTER TABLE `things` ADD COLUMN `age` VARCHAR(22) NOT NULL"\n  }\n\n  {\n    -> schema.drop_column "items", "cat"\n    "ALTER T',
 'santacoder_outputs': ', schema.types.integer\n    "ALTER TABLE `things` ADD COLUMN `age` INT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "cat", schema.types.integer\n    "ALTER TABLE `things` ADD COLUMN `cat` INT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "paw", schema.types.integer\n    "ALTER TABLE `things` ADD COLUMN `paw` INT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "price", schema.types.integer\n    "ALTER TABLE `things` ADD COLUMN `price` INT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "tags", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `tags` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_id", schema.types.integer\n    "ALTER TABLE `things` ADD COLUMN `user_id` INT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_name", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_name` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_type", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_type` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_url", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_url` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_url_name", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_url_name` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_url_type", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_url_type` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_url_url", schema.types.text\n    "ALTER TABLE `things` ADD COLUMN `user_url_url` TEXT NOT NULL"\n  }\n\n  {\n    -> schema.add_column "things", "user_url_url_name", schema.types.text\n    ',
 'openai_rationales': 'The code contains MoonScript functions that define various database operations. Each function receives arguments to perform the operation and returns the corresponding SQL query as a string. The operations include adding/dropping columns, renaming tables/columns, and creating new tables with specified columns and data types.'}

In [13]:
print(d1[0]['fim_inputs'])

<fim-prefix>n `items`;"
  }

  {
    -> schema.add_column "things", "age"<fim-suffix>ABLE `items` DROP COLUMN `cat`"
  }

  {
    -> schema.rename_column "items", "cat", "paw", schema.types.integer
    "ALTER TABLE `items` CHANGE COLUMN `cat` `paw` INT NOT NULL"
  }

  {
    -> schema.rename_table "goods", "sweets"
    "RENAME TABLE `goods` TO `sweets`"
  }

  {
    name: "schema.create_table"

    ->
      schema.create_table "top_posts", {
        {"id", schema.types.id}
        {"user_id", schema.types.integer null: true}
        {"title", schema.types.text null: false}
        {"body", schema.types.text null: false}
        {"created_at", schema.types.datetime}
        {"updated_at", schema.types.datetime}
      }

    [[CREATE TABLE `top_posts` (
  `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  `user_id` INT,
  `title` TEXT NOT NULL,
  `body` TEXT NOT NULL,
  `created_at` DATE<fim-middle>, schema.types.varchar 22
    "ALTER TABLE `things` ADD COLUMN `age` VARCHAR(22) NOT NULL"
  }

  {
    -> schema.drop_column "items", "cat"
    "ALTER T

In [12]:
print(d1[0]['label_middles'])

, schema.types.varchar 22
    "ALTER TABLE `things` ADD COLUMN `age` VARCHAR(22) NOT NULL"
  }

  {
    -> schema.drop_column "items", "cat"
    "ALTER T

In [11]:
print(d1[0]['santacoder_outputs'])

, schema.types.integer
    "ALTER TABLE `things` ADD COLUMN `age` INT NOT NULL"
  }

  {
    -> schema.add_column "things", "cat", schema.types.integer
    "ALTER TABLE `things` ADD COLUMN `cat` INT NOT NULL"
  }

  {
    -> schema.add_column "things", "paw", schema.types.integer
    "ALTER TABLE `things` ADD COLUMN `paw` INT NOT NULL"
  }

  {
    -> schema.add_column "things", "price", schema.types.integer
    "ALTER TABLE `things` ADD COLUMN `price` INT NOT NULL"
  }

  {
    -> schema.add_column "things", "tags", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `tags` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_id", schema.types.integer
    "ALTER TABLE `things` ADD COLUMN `user_id` INT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_name", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_name` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_type", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_type` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_url", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_url` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_url_name", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_url_name` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_url_type", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_url_type` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_url_url", schema.types.text
    "ALTER TABLE `things` ADD COLUMN `user_url_url` TEXT NOT NULL"
  }

  {
    -> schema.add_column "things", "user_url_url_name", schema.types.text

In [14]:

from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer
from transformers import T5ForConditionalGeneration
from transformers import DataCollatorForSeq2Seq
import wandb

from datasets import load_dataset
from transformers import AutoTokenizer, T5ForConditionalGeneration

In [16]:
model = T5ForConditionalGeneration.from_pretrained("google/flan-t5-small")

In [17]:
FIM_PREFIX = "<fim-prefix>"
FIM_MIDDLE = "<fim-middle>"
FIM_SUFFIX = "<fim-suffix>"

In [18]:
tokenizer = AutoTokenizer.from_pretrained("google/flan-t5-small")
addtional_tokens = tokenizer.special_tokens_map['additional_special_tokens']
addtional_tokens.extend([FIM_PREFIX, FIM_MIDDLE, FIM_SUFFIX])
tokenizer.add_special_tokens({
        "additional_special_tokens": addtional_tokens,
})

3

In [19]:
model.resize_token_embeddings(len(tokenizer))

You are resizing the embedding layer without providing a `pad_to_multiple_of` parameter. This means that the new embedding dimension will be 32103. This might induce some performance reduction as *Tensor Cores* will not be available. For more details  about this, or help on choosing the correct value for resizing, refer to this guide: https://docs.nvidia.com/deeplearning/performance/dl-performance-matrix-multiplication/index.html#requirements-tc

Embedding(32103, 512)

In [26]:
input_ids = tokenizer.encode(d1[0]['fim_inputs'], return_tensors="pt")

In [29]:
tokenizer.decode(model.generate(input_ids)[0])

'<pad> [[CREATE TABLE <unk>top_posts<unk> ( <unk>id'